.navbar{
    background-color: rgba(255, 1, 149, 0.728);
}
.imgtext{
    background-image: url(./imagenes/fondo\ login.jpg);
    background-size: cover;
    height: 200px;
    width: 100px;
}
.carr1{
    background-image: url(./imagenes/carrousel1.png);
    background-size: cover;
    height: 600px;
    width: 600%;
    max-height: 300px;
    max-width: 600px;
}
.carr2{
    background-image: url(./imagenes/carrousel2.jpg);
    background-size: cover;
    height: 600px;
    width: 600%;
    max-height: 300px;
    max-width: 600px;
}
.carr3{
    background-image: url(./imagenes/carrousel3.jpg);
    background-size: cover;
    height: 200px;
    width: 600%;
    max-height: 300px;
    max-width: 600px;
}