<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/pdf" method="POST">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; GENERAR FACTURA</legend><br>
            </div>	
        </div>
        <p class="text-center">
            <button
                class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary"
                id="btn-addAdmin">
                <i class="zmdi zmdi-plus"></i>
            </button>
        <div class="mdl-tooltip">
            <a class="btn btn-sm btn-outline-danger border-0" href="/factura">
                <i class="fa fa-file-pdf" ></i>
            </a>
        </div>
        </p>
    </form>
</body>
</html>